<html>

  <head>
    <title>Booking Request</title>
      <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <div class='topnav'>
      <ul style='list-style-type: none; margin: 0; padding: 0; display: inline;'>
        <li><h1><a href="spaces">MakersBnB</a> -
        <a href="/">sign up</a> - 
        <a href="login">login</a> -
        <a href="spaces">book space</a> -
        <a href="spaces/add">list space</a></h1></li>
      </ul>
    </div>

  <div class='box-3'> 
    <h1>Book this space?</h1>
      <div class='space-details-box'>
        <h3><%= @space.name %></h3>
        <p>Description: <%= @space.description %></p>
        <p>£<%= @space.price %>/per night</p>
      </div>

    </body>

    <form method='post' action="/spaces/<%= @space.id %>/request-confirmation">

      <input class="list-input" type="text" name="start_date" onfocus="(this.type='date')" min='<%= @space.available_from %>' max='<%= @space.available_to %>' onblur="if(!this.value) this.type='text'" placeholder="start date:"/> 
      <input class="list-input" type="text" name="end_date" onfocus="(this.type='date')" min='<%= @space.available_from %>' max='<%= @space.available_to %>' onblur="if(!this.value) this.type='text'" placeholder="end date:"/> 
      <input class='standard-button' type='submit' value='Request Booking'/>
    </form>

  </div>

</html>