<h1> Requests </h1>

<h2> Requests I've received </h2>
<ol>
  <% @bookings.each do |booking| %>
    <li>
      <%= booking.space_id %> <br>
      <%= booking.start_date %> <br>
      <%= booking.end_date %> <br>
      <%= booking.status %> <br>
    </li> <br>
  <% end %>
  <% @spaces.each do |space| %>
    <li>
      <%= space.user_id %> <br>
    </li> <br>
  <% end %>
</ol>